//theming - do before importing bootstrap
@import "theme";


// libraries
@import "bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

//fonts
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Montaga&family=Montserrat:wght@400;600&display=swap');

// font-family: 'Lora', serif;  // author
// font-family: 'Montaga', serif; // general font
// font-family: 'Montserrat', sans-serif; // ui elements - normal and semi-bold



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montaga', serif;
  font-weight: 400;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
// }

a, .btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
