//fonts
@font-face {
  font-family: alarm-clock;
  src: url("./fonts/alarm\ clock.ttf") format("truetype");
}

@font-face {
  font-family: conthrax;
  src: url("./fonts/conthrax-sb.ttf") format("truetype");
}


// font-family: 'PT Mono', monospace;
// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Tillana', cursive;


* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: monospace;
}
