#display {
    text-align: center;
    padding: 10px;
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 1px 1px 3px darkgray inset, -1px -1px 3px darkgray inset;
}

#display.off {
    background-color: darkgray;
}