#power-switch {
    background: none;
    border: none;
    text-align: center;
    font-size: 2rem;
}

#power-switch.on {
    color: green;
}

#power-switch.off {
    color: red;
    opacity: 100%;
}