.clock-face {
    text-align: center;
    padding: 10px;
    line-height: 1em;
}

#progress-ring {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.clock-face>p {
    font-family: "alarm-clock", sans-serif;
    font-size: 5rem;
}

.timer-units {
    font-size: 1rem;
}